#card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
    
}

.card-main{
    width: 50%;
}

.mb-0{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
}

#delete{
    border-color: rgb(254, 100, 100);
    color: rgb(254, 100, 100);
}