.body-style {
  background-color: rgba(136, 253, 237, 0.499);
  /* background-color: rgba(231, 114, 31, 0.782); */
}

.btn-light:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(83, 83, 83);
}

.btn-primary{
  color: rgb(255, 255, 255);
  background-color: rgb(61, 197, 255);
  border-color: rgb(86, 190, 155);
}
.btn-primary:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(34, 149, 143);
}

.my-4 {
  margin-top: 0.5rem!important;
  margin-bottom: 1.5rem!important;
  width: 100%;
}

.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 1rem!important;
}

.g-5{
  display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
    align-self: center;
    width: 100%;
}

#date_publ{
  width: 50%;
}
.col-md-5{
  width: 50%;
}

#publ_card{
  background-color: aliceblue;
}
